/* styles.css */

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
}

.container {
  width: 98%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background: #0088a2;
  color: #fff;
  padding: 16px 0;
  margin-bottom: 20px;
}

.header .logo {
  font-size: 16px;
  text-align: center;
  margin: 0;
}
.menu-toggle {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 20px;
  display: none;
}
.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.nav ul li a {
  color: #fff;
  text-decoration: none;
}

.nav.active {
  display: block;
}
/*
.nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 16px 0 0;
}

.nav ul li {
  margin: 0 16px;
}

.nav ul li a {
  text-decoration: none;
  color: #fff;
}

.carousel-section {
  margin: 16px 0;
}
*/
.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.carousel-track-container {
  display: flex;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  min-width: 100%;
}

.carousel-slide img {
  width: 100%;
  display: block;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
}

.carousel-control.prev {
  left: 16px;
}

.carousel-control.next {
  right: 16px;
}

.section {
  margin: 32px 5px;
  display: ruby;
}
.section .container {
  width: 48%;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-bottom: 16px;
  font-size: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 15px;
  color: #333;
}

.card-content p {
  margin: 0;
}
.footer {
  background: #0088a2;
  color: #fff;
  text-align: center;
  padding: 16px 0;
}

.footer p {
  margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
  .nav {
    display: none;
    flex-direction: column;
    background: #0088a2;
    position: absolute;
    right: 0;
    margin: 10px 0;
    padding: 10px 0;
    width: 100%;
  }

  .nav.active {
    display: flex;
  }

  h2 {
    font-size: 20px;
  }

  .carousel-control {
    font-size: 20px;
  }
}
