/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    color: #FFF;
    background-color: #0088a2;
    padding: 1rem 0;
    position: relative;
}

.header .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

.menu-toggle {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .nav li {
    margin: 0 1rem;
  }
  
  .nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
  }

.content {
    padding: 2rem 0;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 2rem 0;
}

.content table {
    width: 100%;
    margin: 1rem 0;
    border-collapse: collapse;
}

.content td {
    padding: 0.5rem;
    vertical-align: top;
}

.content input, .content textarea {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.content button {
    background-color: #0088a2;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.content button:hover {
    background-color: #04c3ea;
}

.content img {
    max-width: 50%;
    border-radius: 5px;
}

.footer {
    background-color: #0088a2;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.footer a {
    color: #fff;
    text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }
  
    .nav {
        display: none;
        flex-direction: column;
        background-color: #0088a2;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 1rem 0;
    }
  
    .nav.active {
        display: flex;
    }
  
    .nav ul {
        flex-direction: column;
    }
  
    .nav li {
        margin: 0.5rem 0;
    }
  
    .game-list {
        flex-direction: column;
    }
}
